* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	min-height: 100%;
	margin: 0px;
	height: 100%;
	font-family: Poppins,sans-serif;
}
.image {
	position: absolute;
	top: 0px;
	left: 0px;
}
.background {
	height: 100%;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(15,15,204,1) 50%, rgba(0,138,255,1) 100%); 
}
.playground {
	width: 600px;
	background: #ffffff;
	border-radius: 10px;
	overflow: hidden;
	padding: 42px 55px 45px;
}
.title {
	display: block;
	font-family: Poppins;
	font-weight: bold;
	color: #555555;
	line-height: 1.2;
	text-align: center;
}
.title-main {
	font-size: 39px;
	padding-bottom: 44px;
}
.title-second {
	padding-top: 44px;
	padding-bottom: 20px;
	font-size: 30px;
}
.wrapper {
	padding-bottom: 13px;
	margin-bottom: 10px;
}
.wrapper-input {
	border-bottom: 2px solid #d9d9d9;
}
.wrapper-wide {
	position: relative;
	width: 100%;
}
.wrapper-narrow {
	display: inline-block;
	position: relative;
	width: 49%;
}
.label {
	width: 100%;
	display: block;
	text-align: left;
	font-family: Poppins;
	font-size: 13px;
	color: #555555;
	line-height: 1.5;
	padding-left: 5px;
}
.input {
	display: block;
	width: 100%;
	height: 40px;
	background: 0 0;
	font-family: Poppins;
	font-weight: bold;
	font-size: 18px;
	color: #555555;
	line-height: 1.2;
	padding: 0 5px;
	outline: none;
	border: none;
	overflow: visible;
}
.badge {
	padding-bottom: 20px;
	height: 40px;
}
.textarea {
	width: 96%;
	border-radius: 10px;
	background: #d9d9d9;
	padding: 10px;
	outline: none;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	resize: none;
}
